go 1.20

use ./ch11_methodAndInterfaces
use ./ch12_packages
use ./ch13_composition
use ./ch14_concurrency
use ./ch15_errorHandling
use ./ch16_stringsandregexp
use ./ch17_usingstrings
use ./ch18_mathandsorting
use ./ch19_dateandtime
use ./ch20_readerandwriters
use ./ch21_readerandwriters
use ./ch22_files
use ./ch23_htmltext
use ./ch24_httpsserver
use ./ch25_httpclient
use ./ch26_data
use ./ch27_reflection
use ./ch28_reflection2
use ./ch29_reflection3
use ./ch30_coordination